/* initialisation  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    font-family: 'Poppins', Arial;
    text-decoration: none;
    list-style: none;
}
section{
    padding: 60px 10px;
}
#btn{
    background-color: var(--color1);
    color:var(--color2);
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition:  background 0.8s ease-in-out;
    font-size: 1.3rem;
    border-radius: 7px;
}
#btn:hover{
    background-color: var(--color2);
    color:var(--color1);
    font-weight: bold;
    
}
/* initialisation des couleurs */
:root{
    --color1:blue;
    --color2:#fff;
    --color3:black;
    --color4:rgb(41, 150, 194);
    --color5:orange;
}


/* partie destinee au header */

header{
    padding-top: 40px 30px 50px 30px;
    display: grid;
    height: 12vh;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    box-shadow: 0px 1px 8px var(--color3);
}
.title{
    display: flex;
   justify-content: center;
   align-items: center;
   gap:30px;
}
.title h2{
    font-family: 'Parisienne';
    font-weight: 500;
}
header .title i{
    color:var(--color5);
    font-size: 1.5rem;
    font-weight: bold;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.user i{
    color:var(--color1);
    font-size: 1.5rem;
}
header ul{
    display: flex;
    justify-content: space-between;
}
header ul li a{
    font-size: 1.3rem;
    transition: 0.5s ease-in-out;
    color:var(--color4);
    font-weight: 500;
}
header ul li a:hover{
    background-color: var(--color1);
    color:var(--color2);
    padding: 9px 10px;
    border-radius: 7px;

}


/* partie destinee a la premiere section */


#first-section{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.welcome-container{
    display: grid;
   padding: 30px;
   justify-content: center;
    align-items: center;
margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}
.welcome-box img{
    /* box-shadow: 0px 1px 5px var(--color3); */
    transition: 1s ease-in-out;
    border-radius: 4rem 0  4rem 0;
}
.welcome-box img:hover{
    transform: rotateY(180deg);
}
.welcome-container .welcome-box h1{
    font-size: clamp(25px, 10vw, 50px);
}
.welcome-container .welcome-box p{
    text-align: justify;
}

/* partie destinee a la section a la une */

#one{
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-one{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
#one  img{
    width: 300px;
    border-radius: 7px;
    height: 200px;
}
.box-one h4{
    font-size: 1.6rem;
}